body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.fonte{
    font-weight: 700;
    color: black;
    font-family: 'Quicksand';
    font-style: normal;
}


.size {
    font-size: 15px;
}

.borda{
    border: 2px solid rgb(223, 234, 65);;
}

.align{
    text-align: center;
}

input {
    height: 25px;
    border-radius: 10px;
}

.botao1 {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Quicksand';
	font-size:12px;
	font-weight:bold;
	padding:8px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.botao1:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.botao1:active {
	position:relative;
	top:1px;
}

.margem {
    margin-left: 20px;
}

.main{
    width: 80%;
    min-height: 80%;
    background-color: rgb(231, 235, 172);
    display: flex;
    flex-direction: column;
    border-width: 12px;
    border-style: solid;
    border-color: rgb(199, 225, 152);
    padding: 10px;
}

.divona{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding: 20px 0;
}

.divona2{
    display: inline-flex;
    width: 100%;

}   

.divona2 > div {
    width: 100%;
    margin: 5px;
}

.form > label {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.botoes{
    display:inline-flex;
}

table{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

li{
   font-size: 20px;
}

.excluir{
    background-color: rgb(231, 235, 172);
    font-weight: bold;
    font-size: 15px;
    /* border-top: 1px solid; */
    
    
}

.excluir {
    background-color: rgb(231, 235, 172);
    background-color: rgb(231, 235, 172);
}

.num_tab {
    color:black
}

.total {
    padding-left: 60%;
}

.tabnomes{
    padding-left:0;
    display: inline-flex;
}

.valorcadaum {
    display: flex;
    justify-content: right;
}

.valorcadaum > h3 {
    width: 40%;
}

#precopessoa {
    font-size: 1.3em;
    color: #528009;
}

